/* ======MOBILE FIRST TOOLBAR====== */

/* Hide the toolbar by default */
#toolbar-menu.collapsed {
	position:absolute;
	left:-9999px;
}

#toolbar-menu {
	background:#000; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	position:absolute;
	width: 100%;
	z-index: 99;
	margin-left: -10px;
}

/*Display links as blocks on mobile*/
#toolbar #toolbar-menu li,
#toolbar #toolbar-menu li a {
  display: block;
  float: none; /* LTR */
  margin-bottom: 1em;
}

#toolbar #toolbar-menu li {
  margin: 0.5em;
}

#toolbar a.mobile {
	display: block;
	text-align: center;
}

/*Hide the user menu from the toolbar. We're printing it on the page_bottom region*/
#toolbar-user {
  display: none;
}


@media only screen and (min-width: 900px) {

/*Show the user links on desktop*/

#toolbar-user {
  display: block;
}

/* Show the toolbar by default */
#toolbar-menu.collapsed {
	position:relative;
	left:auto;
}



#toolbar-menu {
	background:#000; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	position:relative;
	width: auto;
	margin: 0;
}

/*Display links as blocks on mobile*/
#toolbar #toolbar-menu li,
#toolbar #toolbar-menu li a {
  display: block;
  float: left; /* LTR */
  margin-bottom: 0;
}

#toolbar #toolbar-menu li {
  margin: 0;
}

#toolbar a.mobile {
	display: none;
}

#toolbar-user {
	position: relative;
	bottom: auto;
	background-color: transparent;
	width: auto;
	text-align: left;
}

#toolbar #toolbar-user li,
#toolbar #toolbar-user li a {
  float: left; /* LTR */
  display: block;
}

/*Hide the user menu in the page_bottom region for desktop users*/
#block-d8mobile-mobile-user-menu {
	display: none;
}
